# Flutter
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/pubspec.lock

# IDE
.dart_tool/
.idea/
*.iml

# Android
app/android/.gradle/
app/android/local.properties
app/android/key.properties
app/android/app/google-services.json

# iOS
app/ios/.symlinks/
app/ios/Pods/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec

# Supabase
supabase/.temp/
supabase/functions/.env

# Sensitive
*.env
.env.local
.env.production
app/lib/core/constants/supabase_constants.dart

# Metadata
.metadata
